@model Wikipages.Models.Business

<html>
<head>
    <title>Wikipages - Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) | <a href="@Model.WebsiteUrl">@Html.DisplayFor(model => model.WebsiteUrl)</a> | @Html.DisplayFor(model => model.Address)
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>